.album {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 10px 0;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.album button {
    width: 30px;
}
